<header>
    <nav class="header-nav">
        <a href="/" class="logo">Lokkeroom</a>
        <div class="nav-links">
            <a href="/api/login">Connexion</a>
            <a href="/api/register">Inscription</a>
        </div>
    </nav>
</header>